samples/resources/auth-combined.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:auth="http://docs.rackspacecloud.com/auth/api/v1.1"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://docs.rackspacecloud.com/auth/api/v1.1                                  api.xsd">

    <grammars>
        <schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns="http://www.w3.org/2001/XMLSchema"
              xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
              elementFormDefault="qualified"
              attributeFormDefault="unqualified"
              targetNamespace="http://docs.rackspacecloud.com/auth/api/v1.1">

         <annotation>
            <xsd:appinfo xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <xsdxt:title>Auth API Schema Types</xsdxt:title>
               <xsdxt:link rev="index" href="auth.xsd"/>
               <xsdxt:link rev="index" href="authRequest.xsd"/>
               <xsdxt:link rev="index" href="fault.xsd"/>
            </xsd:appinfo>
            <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
               <p>
                This is the main index XML Schema document
                for the Rackspace Cloud Authentication API.
            </p>
            </xsd:documentation>
         </annotation>

         <schema elementFormDefault="qualified" attributeFormDefault="unqualified"
                 targetNamespace="http://docs.rackspacecloud.com/auth/api/v1.1">

            <annotation>
               <xsd:appinfo xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <xsdxt:title>Token and Service Catalog</xsdxt:title>
                  <xsdxt:link rel="index" href="api.xsd"/>
               </xsd:appinfo>
               <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <p>
                This schema file defines the token and the service catalog
                entities.
            </p>
               </xsd:documentation>
            </annotation>

            <!-- Root Elements -->
    <element name="auth" type="auth:AuthData">
               <annotation>
                  <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                     <p>
                    A combination of the token and the service catalog. This
                    is returned when a user authenticates.
                </p>
                  </xsd:documentation>
                  <xsd:appinfo>
                     <xsdxt:samples>
                        <xsdxt:sample>
                           <xsdxt:code type="application/xml" href="../samples/auth.xml"/>
                        </xsdxt:sample>
                        <xsdxt:sample>
                           <xsdxt:code type="application/json" href="../samples/auth.json"/>
                        </xsdxt:sample>
                     </xsdxt:samples>
                  </xsd:appinfo>
               </annotation>
            </element>
            <element name="serviceCatalog" type="auth:ServiceCatalog">
               <annotation>
                  <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                     <p>
                    The service catalog contains a list of all regional and
                    global endpoints available to a user. The endpoints are
                    sorted by service type.
                </p>
                  </xsd:documentation>
                  <xsd:appinfo>
                     <xsdxt:samples>
                        <xsdxt:sample>
                           <xsdxt:code type="application/xml" href="../samples/serviceCatalog.xml"/>
                        </xsdxt:sample>
                        <xsdxt:sample>
                           <xsdxt:code type="application/json" href="../samples/serviceCatalog.json"/>
                        </xsdxt:sample>
                     </xsdxt:samples>
                  </xsd:appinfo>
               </annotation>
            </element>

            <!-- Complex Types -->
    <complexType name="AuthData">
               <sequence>
                  <element name="token" type="auth:Token">
                     <annotation>
                        <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                           <p>
                            An Auth Token.
                        </p>
                        </xsd:documentation>
                     </annotation>
                  </element>
                  <element ref="auth:serviceCatalog">
                     <annotation>
                        <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                           <p>
                            The service catalog.
                        </p>
                        </xsd:documentation>
                     </annotation>
                  </element>
               </sequence>
            </complexType>

            <complexType name="Token">
               <attribute name="id" type="xsd:ID" use="required">
                  <annotation>
                     <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                        <p>
                        The Token Id, to be used in Authentication headers.
                    </p>
                     </xsd:documentation>
                  </annotation>
               </attribute>
               <attribute name="expires" type="xsd:dateTime" use="required">
                  <annotation>
                     <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                        <p>
                        The token will be invalid after the expires time.
                    </p>
                     </xsd:documentation>
                  </annotation>
               </attribute>
            </complexType>
            <complexType name="ServiceCatalog">
               <sequence>
                  <element name="service" type="auth:Service" minOccurs="1" maxOccurs="unbounded">
                     <annotation>
                        <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                           <p>
                            A list of services.
                        </p>
                        </xsd:documentation>
                     </annotation>
                  </element>
               </sequence>
            </complexType>
            <complexType name="Service">
               <sequence>
                  <element name="endpoint" type="auth:Endpoint" minOccurs="1" maxOccurs="unbounded">
                     <annotation>
                        <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                           <p>
                            A list of endpoints.
                        </p>
                        </xsd:documentation>
                     </annotation>
                  </element>
               </sequence>
               <attribute name="name" type="xsd:ID" use="required">
                  <annotation>
                     <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                        <p>
                        The service name.
                    </p>
                     </xsd:documentation>
                  </annotation>
               </attribute>
            </complexType>
            <complexType name="Endpoint">
               <attribute name="region" type="xsd:string" use="optional">
                  <annotation>
                     <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                        <p>
                        The airport code of the region where the endpoint
                        lives.
                    </p>
                     </xsd:documentation>
                  </annotation>
               </attribute>
               <attribute default="false" name="v1Default" type="xsd:boolean" use="optional">
                  <annotation>
                     <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                        <p>
                        If true, then the endpoint will be selected
                        automatically in V1.0 of the Auth API.
                    </p>
                     </xsd:documentation>
                  </annotation>
               </attribute>
               <attribute name="publicURL" type="xsd:anyURI" use="required">
                  <annotation>
                     <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                        <p>
                        The publically accessible service URL.
                    </p>
                     </xsd:documentation>
                  </annotation>
               </attribute>
               <attribute name="internalURL" type="xsd:anyURI" use="optional">
                  <annotation>
                     <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                        <p>
                        A service URL, accessible only within the
                        Rackspace Cloud.
                    </p>
                     </xsd:documentation>
                  </annotation>
               </attribute>
               <attribute name="adminURL" type="xsd:anyURI" use="optional">
                  <annotation>
                     <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                        <p>
                        A service URL used for administration. This may expose
                        additional functionality not found in the public and
                        internal URL.
                    </p>
                     </xsd:documentation>
                  </annotation>
               </attribute>
            </complexType>
         </schema>
         <schema elementFormDefault="qualified" attributeFormDefault="unqualified"
                 targetNamespace="http://docs.rackspacecloud.com/auth/api/v1.1">

            <annotation>
               <xsd:appinfo xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <xsdxt:title>Credentials</xsdxt:title>
                  <xsdxt:link rel="index" href="api.xsd"/>
               </xsd:appinfo>
               <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <p>
                This schema file defines entities credentials used to obtained
                a token from the authentication service.
            </p>
               </xsd:documentation>
            </annotation>

            <element name="credentials" type="auth:UserCredentials">
               <annotation>
                  <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                     <p>
                    Credentials used to obtain an auth token.
                </p>
                  </xsd:documentation>
                  <xsd:appinfo>
                     <xsdxt:samples>
                        <xsdxt:sample>
                           <xsdxt:code type="application/xml" href="../samples/credentials.xml"/>
                        </xsdxt:sample>
                        <xsdxt:sample>
                           <xsdxt:code type="application/json" href="../samples/credentials.json"/>
                        </xsdxt:sample>
                     </xsdxt:samples>
                  </xsd:appinfo>
               </annotation>
            </element>

            <!-- Complex Types -->
    <complexType name="Credentials" abstract="true">
               <attribute name="key" type="xsd:string" use="required">
                  <annotation>
                     <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                        <p>
                        The API key.
                    </p>
                     </xsd:documentation>
                  </annotation>
               </attribute>
            </complexType>

            <complexType name="UserCredentials">
               <complexContent>
                  <extension base="auth:Credentials">
                     <attribute name="username" type="xsd:string" use="required">
                        <annotation>
                           <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                              <p>
                                The name of the user authenticated.
                            </p>
                           </xsd:documentation>
                        </annotation>
                     </attribute>
                  </extension>
               </complexContent>
            </complexType>
         </schema>
         <schema elementFormDefault="qualified" attributeFormDefault="unqualified"
                 targetNamespace="http://docs.rackspacecloud.com/auth/api/v1.1">

            <annotation>
               <xsd:appinfo xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <xsdxt:title>Faults</xsdxt:title>
                  <xsdxt:link rel="index" href="api.xsd"/>
               </xsd:appinfo>
               <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                  <p>
                This schema file defines faults that may be raised by the Auth
                API. These faults are derived from the<a href="#type_AuthFault" title="See definition of         AuthFault">AuthFault</a>.
            </p>
                  <p>
                Faults are associated with a default HTTP status code that
                corresponds to the particular fault type. For example an
                <a href="#element_itemNotFound" title="see definition of         itemNotFound">&lt;itemNotFound&gt;</a>
                element is associated
                with the HTTP status code 404. Some elements, the
                <a href="#element_authFault" title="see definition of         authFault">&lt;authFault&gt;</a>
                element for example, may be
                associated with multiple status codes. It is also possible
                for multiple fault elements to be associated with the same
                default code. The examples below showcase the default status
                codes for each element type. Note that these default codes are
                not part of the formal schema. In practice, however, an
                element type will likely be associated with its corresponding
                default status code.
            </p>
               </xsd:documentation>
            </annotation>

            <!-- Elements -->
    <element name="authFault" type="auth:AuthFault">
               <annotation>
                  <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                     <p>
                    A generic Auth API fault.
                </p>
                  </xsd:documentation>
                  <xsd:appinfo>
                     <xsdxt:samples>
                        <xsdxt:sample>
                           <xsdxt:code type="application/xml" href="../samples/authFault.xml"/>
                        </xsdxt:sample>
                        <xsdxt:sample>
                           <xsdxt:code type="application/json" href="../samples/authFault.json"/>
                        </xsdxt:sample>
                     </xsdxt:samples>
                  </xsd:appinfo>
               </annotation>
            </element>
            <element name="userDisabled" type="auth:UserDisabledFault">
               <annotation>
                  <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                     <p>
                    The user has been disabled and is not permitted to
                    authenticate.
                </p>
                  </xsd:documentation>
                  <xsd:appinfo>
                     <xsdxt:samples>
                        <xsdxt:sample>
                           <xsdxt:code type="application/xml" href="../samples/disabled.xml"/>
                        </xsdxt:sample>
                        <xsdxt:sample>
                           <xsdxt:code type="application/json" href="../samples/disabled.json"/>
                        </xsdxt:sample>
                     </xsdxt:samples>
                  </xsd:appinfo>
               </annotation>
            </element>
            <element name="badRequest" type="auth:BadRequestFault">
               <annotation>
                  <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                     <p>
                    The request is malformed.
                </p>
                  </xsd:documentation>
                  <xsd:appinfo>
                     <xsdxt:samples>
                        <xsdxt:sample>
                           <xsdxt:code type="application/xml" href="../samples/badRequest.xml"/>
                        </xsdxt:sample>
                        <xsdxt:sample>
                           <xsdxt:code type="application/json" href="../samples/badRequest.json"/>
                        </xsdxt:sample>
                     </xsdxt:samples>
                  </xsd:appinfo>
               </annotation>
            </element>
            <element name="unauthorized" type="auth:UnauthorizedFault">
               <annotation>
                  <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                     <p>
                    Authorization failed. Bad API Key? Username?
                </p>
                  </xsd:documentation>
                  <xsd:appinfo>
                     <xsdxt:samples>
                        <xsdxt:sample>
                           <xsdxt:code type="application/xml" href="../samples/unauthorized.xml"/>
                        </xsdxt:sample>
                        <xsdxt:sample>
                           <xsdxt:code type="application/json" href="../samples/unauthorized.json"/>
                        </xsdxt:sample>
                     </xsdxt:samples>
                  </xsd:appinfo>
               </annotation>
            </element>
            <element name="itemNotFound" type="auth:ItemNotFoundFault">
               <annotation>
                  <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                     <p>
                    The item or resource could not be found.
                </p>
                  </xsd:documentation>
                  <xsd:appinfo>
                     <xsdxt:samples>
                        <xsdxt:sample>
                           <xsdxt:code type="application/xml" href="../samples/notfound.xml"/>
                        </xsdxt:sample>
                        <xsdxt:sample>
                           <xsdxt:code type="application/json" href="../samples/notfound.json"/>
                        </xsdxt:sample>
                     </xsdxt:samples>
                  </xsd:appinfo>
               </annotation>
            </element>
            <element name="forbidden" type="auth:ForbiddenFault">
               <annotation>
                  <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                     <p>
                    Authentication succeeded but you lack sufficient privileges.
                </p>
                  </xsd:documentation>
                  <xsd:appinfo>
                     <xsdxt:samples>
                        <xsdxt:sample>
                           <xsdxt:code type="application/xml" href="../samples/forbidden.xml"/>
                        </xsdxt:sample>
                        <xsdxt:sample>
                           <xsdxt:code type="application/json" href="../samples/forbidden.json"/>
                        </xsdxt:sample>
                     </xsdxt:samples>
                  </xsd:appinfo>
               </annotation>
            </element>
            <element name="usernameConflict" type="auth:UsernameConflictFault">
               <annotation>
                  <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                     <p>
                    The username already exists.
                </p>
                  </xsd:documentation>
                  <xsd:appinfo>
                     <xsdxt:samples>
                        <xsdxt:sample>
                           <xsdxt:code type="application/xml" href="../samples/nameconflict.xml"/>
                        </xsdxt:sample>
                        <xsdxt:sample>
                           <xsdxt:code type="application/json" href="../samples/nameconflict.json"/>
                        </xsdxt:sample>
                     </xsdxt:samples>
                  </xsd:appinfo>
               </annotation>
            </element>
            <element name="serviceUnavailable" type="auth:ServiceUnavailableFault">
               <annotation>
                  <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                     <p>
                    The API is currently unavailable.
                </p>
                  </xsd:documentation>
                  <xsd:appinfo>
                     <xsdxt:samples>
                        <xsdxt:sample>
                           <xsdxt:code type="application/xml" href="../samples/unavailable.xml"/>
                        </xsdxt:sample>
                        <xsdxt:sample>
                           <xsdxt:code type="application/json" href="../samples/unavailable.json"/>
                        </xsdxt:sample>
                     </xsdxt:samples>
                  </xsd:appinfo>
               </annotation>
            </element>

            <!-- Complex Types -->
    <complexType name="AuthFault">
               <sequence>
                  <element name="message" type="xsd:string">
                     <annotation>
                        <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                           <p>
                            A human readable message that is appropriate for display
                            to the end user.
                        </p>
                        </xsd:documentation>
                     </annotation>
                  </element>
                  <element name="details" type="xsd:string" minOccurs="0">
                     <annotation>
                        <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                           <p>
                            The optional &lt;details&gt; element may contain useful
                            information for tracking down errors (e.g a stack
                            trace). This information may or may not be appropriate
                            for display to an end user.
                        </p>
                        </xsd:documentation>
                     </annotation>
                  </element>
               </sequence>
               <attribute name="code" type="xsd:int" use="required">
                  <annotation>
                     <xsd:documentation xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
                        <p>
                        The HTTP status code associated with the current fault.
                    </p>
                     </xsd:documentation>
                  </annotation>
               </attribute>
            </complexType>

            <complexType name="UserDisabledFault">
               <complexContent>
                  <extension base="auth:AuthFault">
            </extension>
               </complexContent>
            </complexType>

            <complexType name="BadRequestFault">
               <complexContent>
                  <extension base="auth:AuthFault">
            </extension>
               </complexContent>
            </complexType>

            <complexType name="UnauthorizedFault">
               <complexContent>
                  <extension base="auth:AuthFault">
            </extension>
               </complexContent>
            </complexType>

            <complexType name="ItemNotFoundFault">
               <complexContent>
                  <extension base="auth:AuthFault">
            </extension>
               </complexContent>
            </complexType>

            <complexType name="ForbiddenFault">
               <complexContent>
                  <extension base="auth:AuthFault">
            </extension>
               </complexContent>
            </complexType>

            <complexType name="UsernameConflictFault">
               <complexContent>
                  <extension base="auth:AuthFault">
            </extension>
               </complexContent>
            </complexType>

            <complexType name="ServiceUnavailableFault">
               <complexContent>
                  <extension base="auth:AuthFault">
            </extension>
               </complexContent>
            </complexType>

         </schema>
      </schema>
    </grammars>

    <resources base="https://auth.api.rackspacecloud.com">
        <resource id="version" path="v1.1">
            <method href="#getVersionInfo"/>
            <resource id="auth" path="auth">
                <method href="#authenticate"/>
            </resource>
        </resource>
    </resources>

    <method name="GET" id="getVersionInfo">
        <response status="200 203">
            <representation mediaType="application/xml" element="auth:version"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="auth:authFault"/>
        </response>
        <response status="503">
            <representation mediaType="applicaiton/xml" element="auth:serviceUnavailable"/>
        </response>
        <response status="500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="POST" id="authenticate">
        <request>
            <representation mediaType="application/xml" element="auth:credentials"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="auth:auth"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="auth:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="auth:userDisabled"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="auth:badRequest"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="auth:authFault"/>
        </response>
        <response status="503">
            <representation mediaType="applicaiton/xml" element="auth:serviceUnavailable"/>
        </response>
        <response status="401 403 400 500 503">
            <representation mediaType="applicaiton/json"/>
        </response>
    </method>

</application>